HELP.md

### Gradle ###
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

### Logs ###
logs/
*.log

### Env / Secrets ###
.env
.env.*
!.env.example

### Spring Boot ###
spring.log

### STS / Eclipse ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db
